/*
  These variables are set at runtime based on the current GTK theme:

  @dl_menu_bgcolor  
  @dl_menu_item_color
  @dl_menu_item_color_hover
  dl_menu_item_bgcolor_hover


  Selectors defined by the plugin:

  #docklike-plugin
  .group
  .menu
  .menu_item


  See for more details:

  https://developer.gnome.org/gtk3/stable/chap-css-overview.html
  https://developer.gnome.org/gtk3/stable/chap-css-properties.html
*/

.menu {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background-color: @dl_menu_bgcolor;
  box-shadow: inset 0px 1px alpha(black, 0.2);
}

.drop {
  border-left: 0.5em solid slateblue;
}

/* This will get overridden unless you select the CSS indicator style
.group {
  background-color: @dl_menu_bgcolor;
}
*/
